<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<!-- Menambahkan tag link untuk favicon -->
		<link rel="icon" href="/images/logo.png" type="image/x-icon" />
		<!-- Menambahkan link ke file CSS -->
		<link rel="stylesheet" href="/stylesheets/style.css" />

		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
			rel="stylesheet" />
	</head>

	<body>
		<div class="container-besar">
			<div class="container-blur">
				<div class="container-login">
					<p class="login">Selamat Datang</p>
					<div class="kolom-input">
						<form class="input" action="/login" method="POST">
							<!-- inputan username -->
							<input
								type="text"
								class="username"
								id="username"
								name="username"
								placeholder="Username"
								required />

							<!-- inputan password -->
							<input
								type="password"
								class="password"
								id="password"
								name="password"
								placeholder="Password"
								required />
							<!-- <img
								src="/images/visibility_icon.png"
								class="visibility-icon"
								alt=""
								width="24"
								height="24px" /> -->

							<button type="submit" class="button-masuk">
								<p>Masuk</p>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Start Background Website -->
		<!-- <div class="container">
        <div class="container-title">
            <div class="container-login">
                <h3 class="judul">Login</h3>
                <div class="kolom-input">
                    <form action="">
                        <input type="text" name="" id="" placeholder="username" class="username">
                        <input type="password" name="" id="" placeholder="password" class="password">
                    </form>
                </div>
            </div>
        </div>
    </div> -->

		<!-- End Background Website -->
	</body>
</html>
